.jumbotron{
	background-image: url('/images/banner.jpg');
	height: 50vh;
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: orange;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}